<footer class="footer_area">
    <div class="footer_hearder">
        <div class="logo_playstation">
            <img src="../../../assets/svg/playstation_white.svg" alt="logo playstation">
        </div>
        <div class="region_country">
            <div class="icon_region">
                <img src="../../../assets/svg/globe.svg" alt="globo">
            </div>
            <div class="language">
                <span>País/região: Brasil</span>
            </div>
        </div>
    </div>
    <div class="footer_mid">
        <ul class="map_site">
            <li class="item_link">Suporte</li>
            <li class="item_link">Política de privacidade</li>
            <li class="item_link">Termo de uso do site</li>
            <li class="item_link">Mapa do site</li>
            <li class="item_link">PlayStation Studios</li>
            <li class="item_link">Legal</li>
            <li class="item_link">Sobre a SIE</li>
        </ul>
        <ul class="map_site">
            <li class="item_link">Termos de serviço da PSN</li>
            <li class="item_link">Política de cancelamento da PS Store</li>
            <li class="item_link">Avisos de saúde</li>
            <li class="item_link">Sobre as classificações</li>
        </ul>
        <ul class="map_site">
            <li class="item_link">Facebook</li>
            <li class="item_link">Twitter</li>
            <li class="item_link">YouTube</li>
            <li class="item_link">Instagram</li>
            <li class="item_link">Aplicativo para Android</li>
            <li class="item_link">Aplicativo para iOS</li>
        </ul>
    </div>
    <footer class="footer_botton">
        <span>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</span>
    </footer>
</footer>
