<div class="showcase_area">
    <ul class="showcase_list">
        <li class="showcase-item">
            <app-item-showcase
                urlImg="../../../assets/imgs/spide_man2.png"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/eldenRing.png"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/call_of_duty.jpg"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/star_rail.png"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/ac_mirage.png"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/horizon.jpg"></app-item-showcase>
        </li>
    </ul>
</div>