.showcase_list{
    margin-left: 35px;
    list-style: none;
    width: 95%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    >li{
        width: calc(33.3vw - 36.3px);
        max-width: calc(33.3vw - 36.3px);
    }
}
