<div class="showcase_area">
    <div class="showcase_header">
        <h2 class="showcase_title">{{shocaseTitle}}</h2>
        <a href="" class="link_header">
            <span class="link_text">{{linkText}}</span>
        </a>
    </div>
    <ul class="showcase-list">
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/call_of_duty.jpg"
            titleGame="Call of Duty	&reg;"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/spide_man2.png"
            titleGame="Spider-Man 2"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/nhl24.png"
            titleGame="NHL 24"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/ac_mirage.png"
            titleGame="Assassin Creed Mirage"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/star_rail.png"
            titleGame="Star Rail"></app-item-showcase>
        </li>
        <li class="showcase-item">
            <app-item-showcase
            urlImg="../../../assets/imgs/horizon.jpg"
            titleGame="Horizon - Forbidden West"></app-item-showcase>
        </li>
    </ul>
</div>
