<main class="home__container">
    <section class="area-section">
        <app-banner 
            coverBanner="../../../assets/imgs/bannerCover_psn.png"
            contentLeft="../../../assets/imgs/promo_psn.png"
            contentRight=""
            bannerText="SESSÃO DE JOGOS ESTENDIDA"
            bannerTextButton="Economize Já">
        </app-banner>
    </section>
    <section class="area-section">
        <app-big-showcase></app-big-showcase>
    </section>
    <section class="area-section">
        <app-showcase
            shocaseTitle="10 melhores jogos no seu país"
            linkText=""></app-showcase>
    </section>
    <section class="area-section">
        <app-showcase
            shocaseTitle="Novos jogos"
            linkText="Visualizar tudo">
        </app-showcase>
    </section>
    <section class="area-section">
        <app-showcase
            shocaseTitle="Pré-venda"
            linkText="Visualizar tudo"></app-showcase>
    </section>
    <section class="area-section">
        <app-showcase
            shocaseTitle="Demonstrações"
            linkText="Visualizar tudo"></app-showcase>
    </section>
    <section class="area-section">
        <app-banner
            coverBanner="../../../assets/imgs/psnplus_background.png"
            contentLeft="../../../assets/imgs/psnplus.png"
            contentRight=""
            bannerText="Descobre o PlayStation Plus"
            bannerTextButton="Saiba Mais"
            bannerFooterText="Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis."></app-banner>
    </section>
    <section class="area-section">
        <app-banner
            coverBanner="../../../assets/imgs/playstationStars.jpg"
            bannerText="Inscreva-se gratuitamente, complete missões e ganhe recompensas"
            bannerTextButton="Saiba mais">
          
        </app-banner>
    </section>
    <section class="area-section">
        <app-see-more></app-see-more>
    </section>
</main>
