<main class="home__container">
    <section class="area-section">
        <app-banner 
            coverBanner="../assets/imgs/banerPSN.avif"
            contentLeft="../assets/imgs/promoPSN.avif"
            contentRight=""
            bannerText="SESSÃO DE JOGOS ESTENDIDA"
            bannerTextButton="Economize Já">
        </app-banner>
    </section>
    <section class="area-section"></section>
    <section class="area-section"></section>
    <section class="area-section"></section>
    <section class="area-section"></section>
    <section class="area-section"></section>
    <section class="area-section">
        <app-banner></app-banner>
    </section>
    <section class="area-section">
        <app-banner></app-banner>
    </section>
</main>
