<header class="menu-bar__container">
    <div class="menu-left">
        <section class="menu-bar__logo">
            <img src="../../../assets/svg/playstation.svg" alt="logo PlayStation" class="logo-playstation">
        </section>
        <nav class="menu-bar__nav">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="">Jogos</a>
                </li>
                <li class="menu-item">
                    <a href="">Hardware</a>
                </li>
                <li class="menu-item">
                    <a href="">Serviços</a>
                </li>
                <li class="menu-item">
                    <a href="">Notícias</a>
                </li>
                <li class="menu-item">
                    <a href="">Loja</a>
                </li>
                <li class="menu-item">
                    <a href="">Suporte</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="menu-right">
        <section class="social-navbar">
            <div class="social-item">
                <img id="user-avatar" src="../../../assets/imgs/kratos.png" alt="user avatar">
            </div>
            <div class="social-item">
                <img src="../../../assets/svg/heart.svg" alt="favorite icon">
            </div>
            <div class="social-item">
                <img src="../../../assets/svg/cart.svg" alt="cart icon">
            </div>
        </section>
        <div class="search-icon">
            <img src="../../../assets/svg/search.svg" alt="search icon">
        </div>
    </div>
    
</header>
