<section class="store-navbar__container">
    <section class="store-logo">
        <img src="../../../assets/svg/PlayStation Store.svg" alt="logo Playstation Store">
    </section>
    <nav class="store__navbar">
        <ul class="store__nav-list">
            <li class="store__nav-item">Novidades</li>
            <li class="store__nav-item">Coleções</li>
            <li class="store__nav-item">Ofertas</li>
            <li class="store__nav-item">PS5</li>
            <li class="store__nav-item">Assinaturas</li>
            <li class="store__nav-item">Navegar</li>
        </ul>
    </nav>
</section>
